html{
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
}
header{
    margin:auto;
    background:grey;
    text-align:center;
    width:33%;
    padding-bottom:30px;
   
}
p{
    padding-bottom: 10px;
}

#survey-form{
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-self: center;;
    background:grey;
    width: 33%;
}

#name, #email, #number, #gender, #dropdown {
    width:80%;
    margin:auto;
   margin-bottom:30px;
}
#name-label, #email-label, #number-label, #dropdown-label, #gender-label, #reco-label, #check-desc, #check{
    margin:auto;
    width:77%;
    margin-bottom: 10px;
}
#check li{
    display: block;
    padding-left: 10px;
    margin-right:5px;
  
}
#recoc{
   display:block;
   position:relative;
   left:100px;
   padding:auto;
}

#comment-container, #comment-label{
    margin:auto;
    
}

#submit{
    margin:auto;
}